<template>
  <div id="app">
   <router-view/>
  </div>
</template>

<script>
export default {
  name: "App",
  components: {
   
  }
  
};
</script>
<style>
*,
::before,
::after{
   margin: 0;
  padding: 0;
  box-sizing: border-box;
}
</style>
