<template>
  <div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style=" padding: 5px 15px;"> 
  <a class="navbar-brand" href="#">DocBlog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <router-link class="nav-link" to="/">Home <span class="sr-only">(current)</span></router-link>
      </li>
      <li class="nav-item">
        <router-link class="nav-link" to="/Contact">Contact</router-link>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          About Me
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <router-link class="dropdown-item" to="/About">Who am I</router-link>
          <router-link class="dropdown-item" :to="{name: 'OtherInfo'}" >Other information</router-link>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#media">Media</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
     <router-link to="/Registration"> <button type="button" class="btn btn-outline-primary login">Регистрация</button>   </router-link> 
      <router-link to="/Login">  <button type="button" class="btn btn-outline-success my-2 my-sm-0 " >Вход</button> </router-link> 
    </form>
  </div>
</nav>

<div class="block">
  Главное фото
</div>
  </div>
</template>

<script>

export default {
  name: "Home",
  data:function(){
    return{
      // search:'',
      // list:[
      //   {name: Media},
      //   {name: AboutMe},
      //   {name: Contact}
      // ]
    }
  },
  // computed:{
  //   filteredSearch:function(){
  //     const searching = this.list.filter((list)=>{
  //     return list.name.indexOf(search)>-1})
  //   }
  // },
  components: {
    
  },
  
}
</script>
<style scoped>
.block{
  max-width: 100%;
  height: 500px;
  background: rgb(0, 0, 0);
  color: #fff;
}
.login{
  margin-right: 5px;
}

</style>