<template>
    <div>
       <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style=" padding: 5px 15px;"> 
  <a class="navbar-brand" href="#">DocBlog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <router-link class="nav-link" to="/">Home <span class="sr-only">(current)</span></router-link>
      </li>
      <li class="nav-item">
        <router-link class="nav-link" to="/Contact">Contact</router-link>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          About Me
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <router-link class="dropdown-item" to="/About">Who am I</router-link>
          <router-link class="dropdown-item" :to="{name: 'OtherInfo'}" >Other information</router-link>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#media">Media</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <router-link to="/Registration"> <button type="button" class="btn btn-outline-primary login">Регистрация</button>   </router-link> 
      <router-link to="/Login">  <button type="button" class="btn btn-outline-success my-2 my-sm-0 " >Вход</button> </router-link> 
    </form>
  </div>
</nav> -->


<div class="bg">
    
    
    <div class="window">
        <img src="../assets/user.png" alt="">
        <div class="input-dws">
            <h3>Вход</h3>
            <div class="first__input" > <input type="email" placeholder="Email"></div>
            <div class="second__input"><input  type="password" placeholder="Password"></div> 
            <button class="btn__log" @submit.prevent="onSubmit">LogIn</button>
            <div> <router-link to="/">Вернуться на главную</router-link></div>
            <div><router-link to="/Registration">Регистрация</router-link></div> 
        </div>
    </div>
   
</div>


    </div>
</template>
<style scoped>
/* .login{
  margin-right: 5px;
} */
.bg{
     background: #ccc; /*Заменить на фото */
     height: 100vh;
     max-width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
}
.window img{
    width: 150px;
    height: 150px;
    margin: -100px 0 30px 0;
    border: 5px solid rgb(0, 78, 102);
    border-radius: 100%;

}

.window{
    width: 400px;
    height: 500px;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    
}
.input-dws{

}
.window input{
    width: 300px;
    height: 50px;
    margin: 0 auto 20px auto;
    font-size: 18px;
}
.first__input{
    position: relative;
}
.first__input::before{
    content: "Логин";
    position: absolute;
    display: block;
    bottom: 100%;
    width: 40%;
    left: 0;
    height: 20px;
    left: 0;
    z-index: 1;
    font-size: 17px;
    font-weight: bolder;
   
}
.second__input{
    position: relative;
}
.second__input::before{
    content: "Пароль";
    position: absolute;
    display: block;
    bottom: 100%;
    width: 41%;
    left: 0;
    height: 20px;
    left: 0;
    z-index: 1;
    font-size: 17px;
    font-weight: bolder;
}
.btn__log{
    width: 200px;
    margin: 0 auto;
    border-radius: 5px;
    background: rgb(19, 6, 131);
    color: #fff;
}
</style>